.imagine {
	position:relative;
	left:0;
	top:0;
	width:100%;
	height:auto;
}

.imagine .imagine-thumbnail-wrap[template="imagine-gallery-minified"] {
	float:left;
	clear:right;
	width:160px;
    height: 90px;
	position:relative;
	background-color: rgba(255,255,255,0.6);
	margin: 0 1% 1% 0;
	overflow:hidden;
}

.imagine .imagine-thumbnail-wrap[template="imagine-gallery-minified"] img {
   position:relative;
   width:96%;
   height:auto;
   padding:2% 2% 0 2%;
}
