.imagine {
    position:relative;
    height: auto;
    width: 100%;
    left: 0;
    top: 0;
}
 .imagine-carousel-wrap[template="imagine-gallery-carousel"] {
     position:relative;
     width: 100%;
     height: auto;
 }
     .imagine-carousel-wrap[template="imagine-gallery-carousel"] .imagine-carousel-thumbnail-wrap {
        height: 200px;
        overflow: hidden;
    }
    .imagine-carousel-wrap[template="imagine-gallery-carousel"] .imagine-carousel-thumbnail-wrap img{
        height: 100%;
        width: auto;
    }